img{
    width: 20%;
    border-radius: 50%;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.pic:hover{
    transform: translate(200px);
    /* transform: rotate(-360deg); */
    /* transform: scale(150%); */
    /* transform: skewY(30deg); */
}